{% extends "base.html" %}
{% block title %}<title>User dashboard</title>{% endblock %}

{% block content %}  
   <main class="dashboard-wrapper">
      <div class="profile-card text-center">
       
        <img src="{{userdata.img.url}}" alt="Profile Image" class="profile-img mb-3">

   
        <h2 class="mb-1">{{userdata.name}}</h2>
        <p class="text-muted mb-1">{{userdata.email}}</p>
        <p class="text-muted">{{userdata.gender}}</p>

        <div class="mt-4">
          <a href="#" class="btn btn-outline-primary me-2">Edit Profile</a>
          <a href="{% url 'home' %}" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </main>
{% endblock %}